<div class="col-md-4 left-section pull-left">
  <div class="left-top">
    <h2 class="sign-up-heading">Sign Up</h2>
    <p>
      Sign up with your simple detail. You account will be verified by an
      administrator if you are signing up as a renter
    </p>
  </div>
  <div class="left-bottom">
    <h2 class="sign-in-heading">Sign In</h2>
    <p>Sign in with your email or username</p>
  </div>
</div>
